<html>
    <head>
        <title>Stats for Amateur League of Legends Players</title>
    </head>
    <body>
        <h1>League of Legends Amatuer Stats</h1>
        <p>
            Today's top player is:
            {@players.
        </p>
    </body>
</html>

