<!DOCTYPE html>
<html>
<head>
    <title>FantasyLol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
        #name_error {display:none;}
    </style>
  
    
</head>
<body>

<%= yield %>

</body>
</html>
